 *{
    padding:0;
    margin:0;
}

.nav-bar{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#ffffff;
    color:#0c0c0c;


}
.links{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
    align-items:center;
    margin: 15px;
}
body{
    background-color:#494949;

}
.contenedor-padre{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;
    background-color: #3b3b3b;
    
}
.contenedor-izquierda{
    margin:20px;
    width:70%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}


.superiorI{
    background-color:#ffffff;
    height:80px;
    border-radius: 10px 10px 0px 0px;
    padding:30px;
    
}
.inferiorI{
    background-color:#000000;
    padding: 30px;
    border-radius:0px 0px 10px 10px;
    box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-flow:column wrap;
    gap:10px;
}

.izq-inferior{
    background-color:#303031;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.5);
    margin-top:20px;
    padding:10px 20px 10px 30px;
}

.contenedor-derecha{
    margin:20px;
    width:30%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}

.derecha{
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
    color:#4b4b4b;

    border-radius: 10px 10px 10px 10px;
    padding:30px;
    box-shadow: 0px 11px 18px -1px rgba(101, 101, 101, 0.5);
    -webkit-box-shadow: 0px 11px 18px -1px rgba(72, 72, 72, 0.5);
    align-items:flex-start;
    justify-content: center;

}
.superiorD{
    height: 30%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.inferiorD{
    height:70%;
}
.btn-perfil{
    height: 35px;
    border-radius:5px;
    background-color: #3b3b3b;
    color:white;

}
.editar-perfil{

    color:white;
    text-decoration:none;
    margin-top:20px;
}

.nombre{
    margin-top:50px;
    margin-bottom:10px;
    color:#5c5e5e;
}
.usuarios{
    display:flex;
    align-items:center;
    margin:5px;
    gap:10px;
}

p{
    color:#848484;
}
.descripcion{
    margin-bottom:20px;
}


.tit-inferior{
    color:#acacac;
    padding:5px 0 10px 0px;
}

.FotoPerfil{
    border-radius:100%;
    border: 5px solid #ffffff;
    position:relative;
    top:30px;
    width:150px; 
}

.mini-perfil{
    position:relative;
    border-radius:100%;
    border:2px solid #000000;
    margin-right:5px;
    width:30px;
    
}
.mini-perfil-solicitud{
    position:relative;
    border-radius:10px;
    border:2px solid #ff5900;
    margin-right:5px;
    width:30px;
    height:30px;
}

.circular{
    width: 30px;
    border-radius:100%;
    position:relative;
    height:30px;
    color:white;
    background-color: #ff5900;
    border:1px solid black;
}

.circular:active{
    transform:scale(95%);
}
.aceptar{
    
    font-weight:bold;
}
.rechazar{
    font-weight:bold;
}